<template>
  <div>
    <div>
      <input type="text" placeholder="cookies" v-model="cookies">
      <button @click="onStart">start</button>
    </div>

    <div>
      <b class="bigNum" :class="{ redbg: total.percent > 0, greenbg: total.percent < 0 }">
        {{ total.percent | toFixed2 }} %
      </b>

      <b class="bigNum" :class="{ redbg: total.moneyChange > 0, greenbg: total.moneyChange < 0 }">
        {{ total.moneyChange | toFixed2 }} ￥
      </b>
    </div>

    <div>
      <table border="1">
        <tr>
          <th>代码</th>
          <th>指数</th>
          <th>点数</th>
          <th>涨跌百分比</th>
          <th>权重</th>
        </tr>
        <tr v-for="quote in stockDataSorted" :key="quote.symbol">
          <td>{{ quote.symbol }}</td>
          <td>{{ quote.name }}</td>
          <td>
            <b>{{ quote.current | toFixed2 }}</b>
            <span :class="{ red: quote.updown > 0, green: quote.updown < 0 }">
              {{ quote.updownFlag }}
            </span>
          </td>
          <td :class="{ redbg: quote.percentage > 0, greenbg: quote.percentage < 0 }">
            <b>{{ quote.percentage | toFixed2 }} %
              {{ quote.isKing ? '👑' : '' }} {{ quote.isShit ? '💀' : ''}}
            </b>
          </td>
          <td>{{ (quote.weights * 100) | toFixed2 }} % </td>
        </tr>
      </table>
    </div>

    <div>
      <textarea class="matchText" v-model="matchText"></textarea>
    </div>

    <GlobalEvents @blur="onBlur" @focus="onFocus"></GlobalEvents>
  </div>
</template>

<script>
import axios from 'axios'
import { getMatchConfig } from '../matchconfig'

function wait (ms) {
  return new Promise(r => {
    setTimeout(r, ms)
  })
}

function toFixed2 (value) {
  return Number(value).toFixed(2)
}

export default {
  data () {
    return {
      cookies: '',
      mymoney: 0,
      stockData: {},
      total: {
        percent: 0,
        moneyChange: 0
      },
      running: false,
      matchText: ''
    }
  },
  computed: {
    stockDataSorted () {
      const { stockData } = this
      const keys = Object.keys(stockData)
      return keys.map(key => stockData[key]).sort((a, b) => {
        if (a.weights > b.weights) {
          return -1
        } else {
          return 1
        }
      })
    }
  },
  watch: {
    total: {
      handler (val, oldVal) {
        document.title = `${toFixed2(val.percent)}% ${toFixed2(val.moneyChange)}￥`
      },
      deep: true
    }
  },
  methods: {
    async onStart () {
      const { cookies, running } = this
      localStorage.setItem('requestCookies', cookies)
      this.running = true
      while (1) {
        try {
          await this.reload()
        } catch (err) {
          console.error(err)
        }
        await wait(3000)
      }
    },
    async updateStock () {
      const { cookies, stockData, matchText } = this
      const { config, totalMoney } = getMatchConfig(matchText)
      this.mymoney = totalMoney
      const symbolStr = config.map(item => item.symbol).join(',')
      const { data } = await axios.post('/api/quote', { requestCookies: cookies, symbolStr }, { timeout: 3000 })
      
      let thekingOne = { percentage: -9999 }
      let theShitOne = { percentage: 9999 }
      for (let c of config) {
        const quote = data[c.symbol]
        const lastQuote = stockData[c.symbol] || {}
        quote.weights = c.weights

        let updown = 0
        if (lastQuote.current) {
          updown = quote.current - lastQuote.current
        }
        if (updown > 0) {
          quote.updownFlag = '↑'
        } else if (updown < 0) {
          quote.updownFlag = '↓'
        } else {
          quote.updownFlag = '-'
        }
        quote.updown = updown

        quote.isKing = false
        if (Number(quote.percentage) > thekingOne.percentage) {
          thekingOne = quote
        }

        quote.isShit = false
        if (Number(quote.percentage) < theShitOne.percentage) {
          theShitOne = quote
        }
      }
      thekingOne.isKing = true
      theShitOne.isShit = true
      this.stockData = data
    },
    updateTotal () {
      const { stockData, mymoney } = this
      const keys = Object.keys(stockData)
      const totalPercent = keys.reduce((acc, curr) => {
        const stock = stockData[curr]
        return acc += stock.percentage * stock.weights
      }, 0)
      this.total.percent = totalPercent
      const money = Number(mymoney)
      this.total.moneyChange = (money * totalPercent / 100)
    },
    onBlur () {
      this.running = false
    },
    onFocus () {
      this.running = true
    },
    async reload () {
      this.$Progress.start()
      await this.updateStock()
      this.updateTotal()
      this.$Progress.finish()
    }
  },
  created () {
    const requestCookies = localStorage.getItem('requestCookies')
    const matchText = localStorage.getItem('matchText')
    this.cookies = requestCookies
    this.matchText = matchText
  },
  filters: {
    toFixed2
  }
}
</script>

<style>
.redbg {
  background: #F56C6C
}
.red {
  color: #F56C6C
}
.greenbg {
  background: #67C23A
}
.green {
  color: #67C23A
}
.bigNum {
  font-size: 3.5em;
}
td {
  padding: 0.2em;
}
.matchText {
  width: 30em;
  height: 15em;
}
</style>
